<div class="flex flex-col flex-auto w-full p-6 invioceForm">
    <div class="w-full max-w-screen-md mx-auto">
        <div class="flex items-center justify-end mb-5 mt-3">
            <button
                class="max-w-30 mat-focus-indicator rounded-2 mat-flat-button mat-button-base primary_btn text-white"
                mat-flat-button
                (click)="downloadAsPDF()"
            >
                <mat-icon
                    svgIcon="mat_solid:picture_as_pdf"
                    class="icon-size-5 mr-2 text-white"
                ></mat-icon>
                Download
            </button>
        </div>
        <div class="brd_cls p-6" id="requirementDetails">
            <div class="text-3xl font-bold mb-10 text-center">Invoice</div>
            <div class="logo mb-15">
                <img
                    class="w-50"
                    src="../../../../assets/images/logo/logo.webp"
                    alt=""
                />
            </div>
            <div class="flex justify-between">
                <div class="billTo">
                    <div class="">
                        <div class="font-bold mb-2">Bill To</div>
                        <div class="mb-1 company_name font-semibold">
                            {{ invoiceDetails?.companyName }}
                        </div>
                        <div
                            class="flex items-center mb-1"
                            *ngIf="invoiceDetails?.clientGST"
                        >
                            <div>{{ invoiceDetails?.clientGST }}</div>
                        </div>
                        <div class="font-bold mb-2 mt-4">Billing Address :</div>
                        <div class="text_area w-full mb-4 capitalize">
                            <ng-container
                                *ngFor="let address of invoiceAddress"
                            >
                                {{ address }}<br />
                            </ng-container>
                        </div>

                        <!-- <div class="flex items-center w-full mb-1">
                            <div class="">Andhra Pradesh</div>
                        </div> -->
                        <div class="flex items-center w-full mb-1 capitalize">
                            <div>{{ invoiceDetails?.clientName?.name }}</div>
                        </div>
                        <div class="flex items-center w-full mb-1">
                            <div>{{ invoiceDetails?.clientNumber }}</div>
                        </div>
                        <div class="flex items-center w-full">
                            <div>{{ invoiceDetails?.clientMail }}</div>
                        </div>
                    </div>
                </div>
                <div class="billFrom">
                    <div class="mb-5">
                        <div class="flex items-center w-full mb-1 justify-end">
                            <div class="label_in mr-2">Invoice ID :</div>
                            <div class="font-semibold">
                                {{ invoiceDetails?.invoiceId }}
                            </div>
                        </div>
                        <div class="flex items-center w-full mb-1 justify-end">
                            <div class="label_in mr-2">Date :</div>
                            <div class="font-semibold">
                                {{
                                    invoiceDetails?.createdAt
                                        | date : "dd MMM, y"
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="font-bold mb-2">Bill From</div>
                        <div class="text_area w-full mb-3">
                            Heurix Digital Pyt Ltd<br />
                            Unit 2 / 39 Earl Street,<br />
                            Sydney, Merrylands,<br />
                            New South Wales, 2160
                        </div>
                    </div>
                </div>
            </div>
            <div class="amount_details w-full mt-10">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th align="left">Items</th>
                            <th align="left">Item Description</th>
                            <th align="left">Units</th>
                            <th align="left">Unit Price</th>
                            <th align="end">
                                Total Cost({{ selectedCountry }})
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let e of invoiceDetails?.items;
                                let i = index
                            "
                        >
                            <td class="cost">{{ i + 1 }}</td>
                            <td class="word-wrap">{{ e.itemDescription }}</td>
                            <td class="prices cost">{{ e.units }}</td>
                            <td class="prices cost">
                                <ng-container
                                    *ngIf="
                                        selectedCountry != 'AUD' &&
                                        selectedCountry != 'CAD'
                                    "
                                >
                                    {{
                                        e.unitPrice
                                            | currency
                                                : selectedCountry
                                                : "symbol"
                                                : "1.0"
                                    }}</ng-container
                                >
                                <ng-container *ngIf="selectedCountry == 'AUD'">
                                    ${{
                                        e.unitPrice | number : "1.0-2"
                                    }}</ng-container
                                >
                                <ng-container *ngIf="selectedCountry == 'CAD'">
                                    ${{
                                        e.totalCost | number : "1.0-2"
                                    }}</ng-container
                                >
                            </td>
                            <td class="cost text-right prices">
                                <ng-container
                                    *ngIf="
                                        selectedCountry != 'AUD' &&
                                        selectedCountry != 'CAD'
                                    "
                                >
                                    {{
                                        e.totalCost
                                            | currency
                                                : selectedCountry
                                                : "symbol"
                                                : "1.0"
                                    }}</ng-container
                                >
                                <ng-container *ngIf="selectedCountry == 'AUD'">
                                    ${{
                                        e.totalCost | number : "1.0-2"
                                    }}</ng-container
                                >
                                <ng-container *ngIf="selectedCountry == 'CAD'">
                                    ${{
                                        e.totalCost | number : "1.0-2"
                                    }}</ng-container
                                >
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div
                    class="flex justify-end add_item_div bottom_value w-full pt-1 px-3 pb-5"
                >
                    <div class="text-end">
                        <div class="flex items-center mb-3 justify-end">
                            <div class="mr-2">Total Including Tax :</div>
                            <div
                                class="font-bold w-15"
                                *ngIf="
                                    selectedCountry != 'AUD' &&
                                    selectedCountry != 'CAD'
                                "
                            >
                                {{
                                    invoiceDetails?.totalWithOutTax
                                        | currency
                                            : selectedCountry
                                            : "symbol"
                                            : "1.0"
                                }}
                            </div>
                            <div
                                class="font-bold w-15"
                                *ngIf="selectedCountry == 'AUD'"
                            >
                                ${{
                                    invoiceDetails?.totalWithOutTax
                                        | number : "1.0-2"
                                }}
                            </div>
                            <div
                                class="font-bold w-15"
                                *ngIf="selectedCountry == 'CAD'"
                            >
                                ${{
                                    invoiceDetails?.totalWithOutTax
                                        | number : "1.0-2"
                                }}
                            </div>
                        </div>
                        <!-- <div class="flex items-center justify-end">
                            <div class="mr-2 flex">
                                <ng-container *ngIf="selectedCountry == 'INR'">
                                    <ng-container
                                        *ngIf="
                                            invoiceDetails?.state ==
                                            'Andhra Pradesh'
                                        "
                                    >
                                        <div class="flex items-center">
                                            <div class="label_in mt-0">
                                                (CGST :
                                            </div>
                                            <div class="font-semibold">9%</div>
                                        </div>
                                        ,
                                        <div class="flex items-center mr-2">
                                            <div class="label_in mt-0">
                                                SGST :
                                            </div>
                                            <div class="font-semibold">9%)</div>
                                        </div>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="
                                            invoiceDetails?.state !=
                                            'Andhra Pradesh'
                                        "
                                    >
                                        <div class="flex items-center mr-2">
                                            <div class="label_in mr-2 mt-0">
                                                (IGST :
                                            </div>
                                            <div class="font-semibold">
                                                18%)
                                            </div>
                                        </div>
                                    </ng-container></ng-container
                                >Tax :
                            </div>
                            <div class="font-bold w-15">
                                {{ invoiceDetails?.tax }}
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="flex justify-end bottom_value t w-full pt-2 px-3">
                    <div class="flex items-center justify-end text-lg">
                        <div class="mr-2 font-bold">Grand Total:</div>
                        <div
                            class="font-bold"
                            *ngIf="
                                selectedCountry != 'AUD' &&
                                selectedCountry != 'CAD'
                            "
                        >
                            {{
                                (invoiceDetails?.grandTotal
                                | currency : selectedCountry : "symbol" : "1.0")
                                    ? (invoiceDetails?.grandTotal
                                      | currency
                                          : selectedCountry
                                          : "symbol"
                                          : "1.0")
                                    : 0
                            }}
                        </div>
                        <div class="font-bold" *ngIf="selectedCountry == 'CAD'">
                            $
                            {{ invoiceDetails?.grandTotal | number : "1.0-2" }}
                        </div>
                        <div class="font-bold" *ngIf="selectedCountry == 'AUD'">
                            $
                            {{ invoiceDetails?.grandTotal | number : "1.0-2" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bankDetails flex mt-4">
                <div>
                    <div class="font-bold mb-3">Bank Details:</div>
                    <div
                        class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-4 items-center mb-1"
                    >
                        <div class="label_in mr-2">Bank Name</div>
                        <div class="font-semibold col-span-3">
                            : Commonwealth Bank
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-4 items-center mb-1"
                    >
                        <div class="label_in mr-2">Account Name.</div>
                        <div class="font-semibold col-span-3">
                            : Konduru Akhil Sharma
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-4 items-center mb-1"
                    >
                        <div class="label_in mr-2">Account No.</div>
                        <div class="font-semibold col-span-3">: 10747163</div>
                    </div>
                    <div
                        class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-4 items-center mb-1"
                    >
                        <div class="label_in mr-2">BSB</div>
                        <div class="font-semibold col-span-3">: 062174</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
