.amount_details {
    table {
        border-collapse: collapse;
        th {
            background-color: #58566e;
            color: #fff;
            padding: 0.2em 0.8em 1.2em 0.8em;
            font-weight: 500;
            border-collapse: collapse;
        }
        tbody {
            tr {
                td {
                    padding: 0.2em 1em 1.2em 1em;
                    border-bottom: 0.1rem solid #eaeaea;
                    &.prices {
                        white-space: nowrap;
                    }
                    &.cost {
                        width: 100px !important;
                    }
                }
            }
        }
    }
}
.add_item_div {
    border-bottom: 0.1rem solid #eaeaea;
}
.bottom_value {
    color: #58566e;
    font-size: 14px;
}
.label_in {
    color: #58566e;
    font-size: 14px;
}
