img {
    width: 130px !important;
    height: 130px !important;
    object-fit: cover;
}
.word-wrap {
    width: auto;
    word-wrap: break-word;
}
.icon-size-1 {
    min-width: 18px !important;
    min-height: 18px !important;
    width: 18px !important;
    height: 18px !important;
}
