@media print {
    #none {
        visibility: hidden;
    }
    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
    .noprint {
        visibility: hidden;
    }
    ::ng-deep .main-section-menu-Close {
        padding-left: 0px !important;
    }
    .brd_cls {
        border: 0px !important;
    }
    .shadow {
        box-shadow: 0px 0px 0px transparent !important;
    }
    // @page {
    //     margin-top: 0;
    //     margin-bottom: 0;
    // }
    // body {
    //     padding-top: 6rem;
    //     padding-bottom: 5rem;
    // }
}
@page {
    size: auto;
    margin: 0mm;
}
.top_det {
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
}
.middle_cnt {
    width: 80%;
    margin: 0px auto;
    .text {
        line-height: 24px;
        font-size: 14px;
        font-family: "Poppins", sans-serif !important;
    }
}
.addr {
    line-height: 24px;
    font-size: 13px;
    font-family: "Poppins", sans-serif !important;
}
