<div class="flex flex-col flex-auto w-full p-6 invioceForm">
    <div class="w-full max-w-screen-md mx-auto">
        <div class="flex items-center justify-end mb-5 mt-3">
            <button
                class="max-w-30 mat-focus-indicator rounded-2 mat-flat-button mat-button-base primary_btn text-white"
                mat-flat-button
                (click)="downloadAsPDF()"
            >
                <mat-icon
                    svgIcon="mat_solid:picture_as_pdf"
                    class="icon-size-5 mr-2 text-white"
                ></mat-icon>
                Download
            </button>
        </div>
        <div class="brd_cls p-6" id="pdfCapture" #pdfCapture>
            <div class="tableOfContents">
                <h4 style="font-size: 18px; margin-bottom: 15px">
                    <b>TABLE OF CONTENTS</b>
                </h4>
                <p style="font-size: 16px; color: #302727">
                    Proposal Terms & Conditions
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 5px;
                    "
                >
                    <span style="padding-right: 5px">1.</span> Executive Summary
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">2.</span> About Vinutnaa IT
                    Services
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">3.</span> Products and
                    Services
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">4.</span> The Vinutnaa IT
                    Services Difference – Our Core Values
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">5.</span> Accreditations,
                    Certifications, and Partners
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">6.</span> Scope of Work
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">7.</span> Deliverables
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">8.</span> Roles and
                    Responsibilities
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">9.</span> Assumptions and
                    Considerations
                </p>

                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">10.</span> Payment Terms
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">11.</span> Customer
                    Acceptance
                </p>
                <p
                    style="
                        font-size: 16px;
                        color: #302727;
                        display: flex;
                        margin-bottom: 3px;
                    "
                >
                    <span style="padding-right: 5px">12.</span> General Terms
                </p>
                <h3 style="margin-bottom: 10px; color: #fff">f</h3>
            </div>
            <div class="sub_des">
                <p style="font-size: 15px; color: #302727; margin-bottom: 30px">
                    <b style="font-size: 16px">Proposal Terms & Conditions : </b
                    >All the details mentioned in this proposal are valid for a
                    period of 30 days from the date of issuance. Any changes or
                    modifications after the stated period will require a new
                    proposal.
                </p>
                <h6 style="font-size: 16px; margin-bottom: 0px; color: #302727">
                    <b>1. Executive Summary</b>
                </h6>
                <p style="font-size: 15px; color: #302727; margin-bottom: 30px">
                    Vinutnaa IT Services India Private Limited proudly presents
                    this proposal for the development of a Tax Application for
                    Innovento Company. With our vast experience in web and
                    mobile application development, we aim to deliver a robust,
                    user-friendly, and efficient application tailored to meet
                    the specific needs of Innovento.
                </p>
                <h6 style="font-size: 16px; color: #302727; margin-bottom: 0px">
                    <b>2. About Vinutnaa IT Services</b>
                </h6>
                <p style="font-size: 15px; color: #302727; margin-bottom: 30px">
                    Vinutnaa IT Services has been a pioneer in the IT industry,
                    offering services to a global clientele. Our team of
                    professionals is dedicated to ensuring the highest quality
                    of service and innovation. We have successfully catered to
                    clients from the USA, UK, Australia, Canada, India, and
                    other regions
                </p>
                <h6
                    style="font-size: 16px; color: #302727; margin-bottom: 10px"
                >
                    <b>3. Products and Services</b>
                </h6>
                <ul style="margin-bottom: 30px">
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >Web Application Development</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >Mobile Application Development</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >Digital Marketing: SEO, SMO, and Adwords</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >Lead Generation</span
                        >
                    </li>
                </ul>
                <h6 style="font-size: 16px; color: #302727; margin-bottom: 0px">
                    <b
                        >4. The Vinutnaa IT Services Difference – Our Core
                        Values</b
                    >
                </h6>
                <p style="font-size: 15px; color: #302727; margin-bottom: 30px">
                    Integrity, Innovation, Client Centricity, Excellence, and
                    Teamwork form the backbone of Vinutnaa IT Services. We
                    believe in delivering solutions that not only meet but
                    exceed client expectations.
                </p>
                <h6 style="font-size: 16px; color: #302727; margin-bottom: 0px">
                    <b>5. Accreditations, Certifications, and Partners</b>
                </h6>
                <p style="font-size: 15px; color: #302727; margin-bottom: 30px">
                    Vinutnaa IT Services is a certified partner of
                    [Certifications], holds various accolades in web and mobile
                    application development from recognized industry bodies, and
                    proudly stands as a
                    <b>Google Certified Development Company</b>.
                </p>
                <h6
                    style="font-size: 16px; color: #302727; margin-bottom: 12px"
                >
                    <b>6.Scope of Work</b>
                </h6>
                <div>
                    <h6
                        style="
                            font-size: 15px;
                            color: #302727;
                            margin-bottom: 0px;
                        "
                    >
                        <b>Module1</b>
                    </h6>
                    <p
                        style="
                            font-size: 15px;
                            color: #302727;
                            margin-bottom: 20px;
                        "
                    >
                        <b>Login :</b> Description of Login
                    </p>
                </div>
                <div>
                    <h6
                        style="
                            font-size: 15px;
                            color: #302727;
                            margin-bottom: 0px;
                        "
                    >
                        <b>Module2</b>
                    </h6>
                    <p
                        style="
                            font-size: 15px;
                            color: #302727;
                            margin-bottom: 20px;
                        "
                    >
                        <b>Login :</b> Description of Login
                    </p>
                </div>
                <h6
                    style="
                        font-size: 16px;
                        color: #302727;
                        margin-bottom: 10px;
                        margin-top: 10px;
                    "
                >
                    <b>7. Deliverables</b>
                </h6>
                <ul style="margin-bottom: 30px">
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >Comprehensive Tax Application as per
                            requirements</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >User Manut</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >Source Code</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >Test Reports</span
                        >
                    </li>
                </ul>
                <h6 style="font-size: 16px; color: #302727; margin-bottom: 8px">
                    <b>8. Roles and Responsibilities</b>
                </h6>
                <div>
                    <p
                        style="
                            font-size: 15px;
                            color: #302727;
                            margin-bottom: 5px;
                        "
                    >
                        <b>Project Manager :</b> Oversee project, ensure timely
                        delivery
                    </p>
                    <p
                        style="
                            font-size: 15px;
                            color: #302727;
                            margin-bottom: 5px;
                        "
                    >
                        <b>Frontend Developers :</b> UI/UX Design and Frontend
                        Development
                    </p>
                    <p
                        style="
                            font-size: 15px;
                            color: #302727;
                            margin-bottom: 5px;
                        "
                    >
                        <b>Backend Developers :</b> Backend Logic and Database
                        Management
                    </p>
                    <p
                        style="
                            font-size: 15px;
                            color: #302727;
                            margin-bottom: 5px;
                        "
                    >
                        <b>QA Team :</b> Testing & Quality Assurancet
                    </p>
                    <!-- <div>
                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 4px;
                            "
                        >
                            <b>Role</b>
                        </p>

                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 5px;
                            "
                        >
                            Project Manager
                        </p>

                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 5px;
                            "
                        >
                            Frontend Developers
                        </p>

                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 5px;
                            "
                        >
                            Backend Developers
                        </p>

                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 5px;
                            "
                        >
                            QA Team
                        </p>
                    </div>
                    <div style="padding-left: 20px">
                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 4px;
                                font-weight: 600;
                            "
                        >
                            <b>Responsibilities</b>
                        </p>
                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 5px;
                            "
                        >
                            Oversee project, ensure timely delivery
                        </p>
                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 5px;
                            "
                        >
                            UI/UX Design and Frontend Development
                        </p>
                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 5px;
                            "
                        >
                            Backend Logic and Database Management
                        </p>
                        <p
                            style="
                                font-size: 15px;
                                color: #302727;
                                margin-bottom: 5px;
                            "
                        >
                            Testing & Quality Assurance
                        </p>
                    </div> -->
                </div>
                <h6
                    style="
                        font-size: 16px;
                        color: #302727;
                        margin-bottom: 10px;
                        margin-top: 30px;
                    "
                >
                    <b>9. Assumptions and Considerations</b>
                </h6>
                <ul style="margin-bottom: 30px">
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >All requirements provided by Innovento are
                            final</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >Any change in requirements post-approval might
                            incur additional costs.</span
                        >
                    </li>
                </ul>
                <h6
                    style="font-size: 16px; color: #302727; margin-bottom: 10px"
                >
                    <b>10. Payment Terms</b>
                </h6>
                <ul style="margin-bottom: 30px">
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >30% upfront</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >40% post-development</span
                        >
                    </li>
                    <li style="margin-bottom: 5px">
                        <span style="color: #302727; font-size: 15px"
                            >30% post-deployment</span
                        >
                    </li>
                </ul>
                <h6 style="font-size: 16px; color: #302727; margin-bottom: 0px">
                    <b>11. Customer Acceptance</b>
                </h6>
                <p style="font-size: 15px; color: #302727">
                    Client feedback and approval stages will be integrated
                    throughout the development process to ensure utmost
                    satisfaction.
                </p>
            </div>
        </div>
    </div>
</div>
