<div class="flex flex-col flex-auto min-w-0 requirements">
    <!-- Header -->
    <div
        class="flex flex-wrap width_set_cold_calling max-w-screen-xl mx-auto p-6 md:p-8"
    >
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 w-full min-w-0"
            >
                <div
                    class="flex flex-col flex-auto px-4 py-6 bg-light-primary rounded-lg overflow-hidden mb-5"
                >
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <div
                                class="text-2xl font-semibold text-slate-700 dark:text-navy-100 md:leading-snug truncate"
                            >
                                Cold Calling
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-card mb-5 shadow rounded-lg py-1">
                <div class="flex flex-col create-form p-5">
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Client Name</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div>
                                {{ details?.name ? details?.name : "--" }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Website</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div *ngIf="details?.website != 'No'">
                                <a
                                    href="{{ details?.website }}"
                                    target="_blank"
                                    class="cursor-pointer"
                                    >{{ details?.website }}</a
                                >
                            </div>
                            <div *ngIf="details?.website == 'No'">
                                <span
                                    class="amounts badge bg-error/10 text-error dark:bg-error/15"
                                >
                                    No</span
                                >
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Phone Number</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div>
                                {{
                                    details?.phoneNumber
                                        ? details?.phoneNumber
                                        : "--"
                                }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Email</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div>
                                {{ details?.email ? details?.email : "--" }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Rating/Review</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div>
                                {{ details?.rating ? details?.rating : "--" }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Ranking</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div>
                                {{
                                    details?.websiteRanking
                                        ? details?.websiteRanking
                                        : "--"
                                }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Business Claimed</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div>
                                {{
                                    details?.businessClaimed
                                        ? details?.businessClaimed
                                        : "--"
                                }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Need To Talk To Client</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div>
                                {{
                                    details?.talkClient
                                        ? details?.talkClient
                                        : "--"
                                }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Status</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <div
                                *ngIf="
                                    details?.status != 'Not Interested' &&
                                    details?.status != 'Interested'
                                "
                            >
                                --
                            </div>
                            <span
                                class="amounts badge bg-error/10 mb-2 text-error dark:bg-error/15"
                                *ngIf="details?.status == 'Not Interested'"
                            >
                                Not Interested
                            </span>
                            <span
                                class="amounts badge bg-success/10 mb-2 text-success-l dark:bg-success/15"
                                *ngIf="details?.status == 'Interested'"
                            >
                                Interested
                            </span>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-4 mb-2"
                    >
                        <div class="font-semibold">Follow Up</div>
                        <div class="col-span-2 flex">
                            <span class="mr-3">:</span>
                            <span
                                class="flex capitalize cursor-pointer text-xs+ items-center whitespace-nowrap"
                                *ngIf="details?.lastFollowup"
                            >
                                {{
                                    details?.lastFollowup | date : "dd-MM-yyyy"
                                }}
                                <span
                                    class="text-white ml-2 count-follows inline-flex items-center font-bold px-2 py-0.5 rounded-full tracking-wide"
                                >
                                    {{
                                        details?.followUpCount
                                            ? details?.followUpCount
                                            : "0"
                                    }}</span
                                >
                            </span>
                            <span *ngIf="!details?.lastFollowup">--</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
