<!-- Title -->

<div
    class="flex flex-col sm:flex-row items-center justify-between px-5 bg-primary_l py-4 bg-light-primary"
>
    <div class="text-xl font-semibold text-white">Change password</div>
</div>

<!-- Reset password form -->
<form
    class="px-5 py-5"
    [formGroup]="changePasswordForm"
    #resetPasswordNgForm="ngForm"
    autocomplete="false"
>
    <!-- Password field -->
    <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input
            id="password"
            matInput
            type="password"
            [formControlName]="'password'"
            #passwordField
        />
        <button
            mat-icon-button
            type="button"
            (click)="
                passwordField.type === 'password'
                    ? (passwordField.type = 'text')
                    : (passwordField.type = 'password')
            "
            matSuffix
        >
            <mat-icon
                class="icon-size-5"
                *ngIf="passwordField.type === 'password'"
                [svgIcon]="'heroicons_solid:eye'"
            ></mat-icon>
            <mat-icon
                class="icon-size-5"
                *ngIf="passwordField.type === 'text'"
                [svgIcon]="'heroicons_solid:eye-off'"
            ></mat-icon>
        </button>
        <mat-error
            *ngIf="changePasswordForm.controls['password'].hasError('required')"
        >
            Password is required
        </mat-error>
        <mat-error
            *ngIf="
                changePasswordForm.controls['password'] &&
                changePasswordForm.controls['password'].hasError('pattern')
            "
        >
            Password should have at least 8 characters : one lowercase, one
            uppercase and one digit and one special character.
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>Confirm Password </mat-label>
        <input
            id="password-confirm"
            matInput
            type="password"
            [formControlName]="'new_password'"
            #passwordConfirmField
        />
        <button
            mat-icon-button
            type="button"
            (click)="
                passwordConfirmField.type === 'password'
                    ? (passwordConfirmField.type = 'text')
                    : (passwordConfirmField.type = 'password')
            "
            matSuffix
        >
            <mat-icon
                class="icon-size-5"
                *ngIf="passwordConfirmField.type === 'password'"
                [svgIcon]="'heroicons_solid:eye'"
            ></mat-icon>
            <mat-icon
                class="icon-size-5"
                *ngIf="passwordConfirmField.type === 'text'"
                [svgIcon]="'heroicons_solid:eye-off'"
            ></mat-icon>
        </button>
        <mat-error
            *ngIf="changePasswordForm.get('new_password').hasError('required')"
        >
            Password confirmation is required
        </mat-error>
        <mat-error
            *ngIf="
                changePasswordForm.controls['new_password'].hasError(
                    'confirmPasswordValidator'
                )
            "
        >
            Please Enter correct Password
        </mat-error>
    </mat-form-field>

    <!-- Submit button -->
    <div class="flex mb-2">
        <button
            mat-button
            mat-dialog-close
            class="bg-gray-200 px-8 py-2 rounded-lg mr-3"
            (click)="close()"
        >
            Cancel
        </button>
        <button
            class="px-3 mat-focus-indicator mat-flat-button mat-button-base primary_btn text-white"
            mat-flat-button
            [disabled]="changePasswordForm.disabled"
            (click)="resetPassword()"
        >
            <span *ngIf="!changePasswordForm.disabled">
                Reset your password
            </span>
            <mat-progress-spinner
                *ngIf="changePasswordForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"
            ></mat-progress-spinner>
        </button>
    </div>
</form>
