<div class="view_payment">
    <div class="flex flex-col flex-auto form-Out">
        <div class="flex-auto">
            <div
                class="flex flex-col sm:flex-row items-center justify-between px-5 bg-primary_l py-4 bg-light-primary"
            >
                <div class="text-lg font-semibold text-white">View Budget</div>
                <button
                    (click)="close()"
                    type="button"
                    mat-icon-button
                    matDialogClose
                >
                    <mat-icon svgIcon="close" class="text-white"></mat-icon>
                </button>
            </div>
            <!-- class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 mb-3" -->
            <div class="milestones px-5 pt-6">
                <div
                    class="grid grid-cols-1 sm:grid-cols-5 md:grid-cols-5 mb-3"
                >
                    <div class="col">
                        <div class="text-md font-medium">Project Name :</div>
                        <div>
                            <span
                                class="flex capitalize cursor-pointer font-medium text-slate-700 dark:text-navy-10"
                                matTooltip="{{ budgetData.Data.project_name }}"
                                aria-label="Button that displays a tooltip when focused or hovered over"
                                >{{
                                    budgetData.Data.project_name
                                        | slice : 0 : 15
                                }}</span
                            >
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-md font-medium">Client Name :</div>
                        <div>
                            <span
                                class="flex capitalize cursor-pointer font-medium text-slate-700 dark:text-navy-10"
                                matTooltip="{{ budgetData.Data.client_name }}"
                                aria-label="Button that displays a tooltip when focused or hovered over"
                                >{{
                                    budgetData.Data.client_name | slice : 0 : 15
                                }}</span
                            >
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-md font-medium">Total Budget :</div>
                        <div>
                            <span
                                class="mr-6 inline-flex items-center h-6 px-2 rounded-full text-sm font-semibold leading-6 badge bg-warning/10 text-warning dark:bg-warning/15"
                            >
                                {{
                                    details?.totalBudget
                                        | currency
                                            : details?.currency
                                            : "symbol"
                                            : "1.0"
                                }}</span
                            >
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-md font-medium">Total Paid :</div>
                        <div>
                            <span
                                class="mr-6 inline-flex items-center h-6 px-2 rounded-full text-sm font-semibold leading-6 badge bg-success/10 text-success-l dark:bg-success/15"
                            >
                                {{
                                    details?.totalPaid
                                        | currency
                                            : details?.currency
                                            : "symbol"
                                            : "1.0"
                                }}</span
                            >
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-md font-medium">Total Due :</div>
                        <div>
                            <span
                                class="mr-6 inline-flex items-center h-6 px-2 rounded-full text-sm font-semibold leading-6 tracking-wide badge bg-error/10 text-error dark:bg-error/15"
                            >
                                {{
                                    details?.totalDue
                                        | currency
                                            : details?.currency
                                            : "symbol"
                                            : "1.0"
                                }}</span
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 mb-3"
                ></div>
            </div>
        </div>
    </div>
    <div class="px-5 pt-2 pb-5">
        <div class="">
            <table
                mat-table
                [dataSource]="dataSourceBudget"
                class="mat-elevation-z8 w-full border is-hoverable"
            >
                <!-- month -->
                <ng-container matColumnDef="month">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="whitespace-nowrap bg-light-primary px-3 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-3"
                    >
                        Month
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let transaction; let i = index"
                        class="whitespace-nowrap px-3 py-3 sm:px-3"
                    >
                        <span class="flex capitalize cursor-pointer text-xs+">
                            {{
                                (transaction?.date | date : "MMM yyyy")
                                    ? (transaction?.date | date : "MMM yyyy")
                                    : "--"
                            }}
                        </span>
                    </td>
                </ng-container>
                <!-- budget -->
                <ng-container matColumnDef="budget">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="whitespace-nowrap bg-light-primary px-3 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-3"
                    >
                        Budget
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let transaction"
                        class="whitespace-nowrap px-3 py-3 sm:px-3"
                    >
                        <span
                            class="badge bg-warning/10 text-amber-500 dark:bg-warning/15 amounts"
                        >
                            {{
                                transaction?.budgetAmt
                                    | currency
                                        : details?.currency
                                        : "symbol"
                                        : "1.0"
                            }}
                        </span>
                    </td>
                </ng-container>

                <!-- paidThrough -->
                <ng-container matColumnDef="paidThrough">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="whitespace-nowrap bg-light-primary px-3 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-3"
                    >
                        Paid Through
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let transaction"
                        class="whitespace-nowrap px-3 py-3 sm:px-3"
                    >
                        <span class="text-xs+ capitalize">
                            {{
                                transaction.paidThrough
                                    ? transaction.paidThrough
                                    : "--"
                            }}
                        </span>
                    </td>
                </ng-container>

                <!-- paidDate -->
                <ng-container matColumnDef="paidDate">
                    <th
                        mat-header-cell
                        class="whitespace-nowrap bg-light-primary px-3 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-3"
                        *matHeaderCellDef
                    >
                        Paid Date
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let transaction"
                        class="whitespace-nowrap px-3 py-3 sm:px-3"
                    >
                        <span class="text-xs+ whitespace-nowrap">
                            {{
                                (transaction?.paidDate | date : "dd MMM, y")
                                    ? (transaction?.paidDate
                                      | date : "dd MMM, y")
                                    : "--"
                            }}
                        </span>
                    </td>
                </ng-container>
                <!-- receivedDate -->
                <ng-container matColumnDef="receivedDate">
                    <th
                        mat-header-cell
                        class="whitespace-nowrap bg-light-primary px-3 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-3"
                        *matHeaderCellDef
                    >
                        Received Date
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let transaction"
                        class="whitespace-nowrap px-3 py-3 sm:px-3"
                    >
                        <span class="text-xs+ whitespace-nowrap">
                            {{
                                (transaction?.receivedDate | date : "dd MMM, y")
                                    ? (transaction?.receivedDate
                                      | date : "dd MMM, y")
                                    : "--"
                            }}
                        </span>
                    </td>
                </ng-container>
                <!-- paid -->
                <ng-container matColumnDef="paid">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="whitespace-nowrap bg-light-primary px-3 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-3"
                    >
                        Paid
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let transaction"
                        class="whitespace-nowrap px-3 py-3 sm:px-3"
                    >
                        <span
                            class="amounts badge bg-success/10 text-success-l dark:bg-success/15"
                        >
                            {{
                                transaction?.paid
                                    | currency
                                        : details?.currency
                                        : "symbol"
                                        : "1.0"
                            }}
                        </span>
                    </td>
                </ng-container>
                <!-- INR -->
                <ng-container matColumnDef="Inr">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="whitespace-nowrap bg-light-primary px-3 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-3"
                    >
                        INR
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let transaction"
                        class="whitespace-nowrap px-3 py-3 sm:px-3"
                    >
                        <span
                            class="amounts badge bg-success/10 text-success-l dark:bg-success/15"
                        >
                            {{
                                transaction?.inrAmount
                                    | currency : "INR" : "symbol" : "1.0"
                            }}
                        </span>
                    </td>
                </ng-container>

                <!-- due -->
                <ng-container matColumnDef="due">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="whitespace-nowrap bg-light-primary px-3 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-3"
                    >
                        Due
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let transaction"
                        class="whitespace-nowrap px-3 py-3 sm:px-3"
                    >
                        <span
                            class="amounts badge bg-error/10 text-error dark:bg-error/15"
                        >
                            {{
                                transaction?.due
                                    | currency
                                        : details?.currency
                                        : "symbol"
                                        : "1.0"
                            }}
                        </span>
                    </td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsBudget"
                ></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsBudget"
                ></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td
                        class="mat-cell whitespace-nowrap px-3 py-3 sm:px-3"
                        align="center"
                        [attr.colspan]="displayedColumnsBudget.length"
                    >
                        There is No Data.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
