<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                class="justify-between flex flex-auto px-4 py-6 bg-light-primary rounded-lg overflow-hidden mb-5"
            >
                <div
                    class="text-2xl font-semibold text-slate-700 dark:text-navy-100 md:leading-snug truncate"
                >
                    {{ details?.name | titlecase }} Details
                </div>
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2">
                    <div
                        class="flex items-center justify-center mr-4 border-r pr-4"
                    >
                        <div
                            class="font-medium text-slate-700 dark:text-navy-100 text-xs+"
                        >
                            Course Fee :
                        </div>
                        <div
                            class="ml-3 lg:flex items-center h-6 px-2 rounded-full text-sm font-semibold leading-6 badge bg-primary/10 text-primary"
                        >
                            {{ details?.courseFee ? details?.courseFee : 0 }}
                        </div>
                    </div>
                    <div
                        *ngIf="details?.discountNumber != 0"
                        class="flex items-center justify-center mr-4 border-r pr-4"
                    >
                        <div
                            class="font-medium text-slate-700 dark:text-navy-100 text-xs+"
                        >
                            Discount :
                        </div>
                        <div
                            class="hidden lg:flex items-center h-6 px-3 ml-2 rounded-full text-sm font-semibold leading-6 tracking-wide bg-accent-200 text-accent-600"
                        >
                            {{
                                details?.discountNumber
                                    ? details?.discountNumber
                                    : 0
                            }}
                        </div>
                    </div>
                    <div
                        *ngIf="details?.discountNumber != 0"
                        class="flex items-center justify-center border-r pr-4 mr-4"
                    >
                        <div
                            class="font-medium text-slate-700 dark:text-navy-100 text-xs+"
                        >
                            After Discount :
                        </div>
                        <div
                            class="ml-3 lg:flex items-center h-6 px-2 rounded-full text-sm font-semibold leading-6 badge bg-warning/10 text-warning dark:bg-warning/15"
                        >
                            {{
                                details?.amountAfterDiscount
                                    ? details?.amountAfterDiscount
                                    : 0
                            }}
                        </div>
                    </div>
                    <div
                        class="flex items-center justify-center border-r pr-4 mr-4"
                    >
                        <div
                            class="font-medium text-slate-700 dark:text-navy-100 text-xs+"
                        >
                            Total Paid :
                        </div>
                        <div
                            class="ml-3 lg:flex items-center h-6 px-2 rounded-full text-sm font-semibold leading-6 badge bg-success/10 text-success-l dark:bg-success/15"
                        >
                            {{ amount?.paid ? amount?.paid : 0 }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="font-medium text-slate-700 dark:text-navy-100 text-xs+"
                        >
                            Total Due :
                        </div>
                        <div
                            class="ml-3 lg:flex items-center h-6 px-2 rounded-full text-sm font-semibold leading-6 tracking-wide badge bg-error/10 text-error dark:bg-error/15"
                        >
                            {{ amount?.due ? amount?.due : 0 }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 w-full">
                <div class="flex flex-col flex-auto p-6 bg-card rounded shadow">
                    <div class="flex">
                        <div
                            class="mb-4 text-lg font-semibold tracking-tight leading-7 md:leading-snug truncate"
                        >
                            Trainee Details
                        </div>
                    </div>
                    <div class="details-sec">
                        <div class="flex items-center justify-center mb-4">
                            <img
                                class="rounded-full"
                                src="{{ baseUrl + details?.image }}"
                                alt="{{ details?.name }}"
                            />
                        </div>
                        <div class="flex-col">
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Trainee Name
                                        <span class="">:</span></label
                                    >
                                </div>
                                <div class="col-span-3 ml-2 word-wrap">
                                    {{ details?.name | titlecase }}
                                    {{ details?.surname | titlecase }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Father Name
                                        <span class="">:</span></label
                                    >
                                </div>
                                <div class="col-span-3 ml-2 word-wrap">
                                    {{ details?.fatherName | titlecase }}
                                    {{ details?.surname | titlecase }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-start justify-between"
                                        >Email <span class="">:</span></label
                                    >
                                </div>
                                <div class="ml-2 col-span-3 word-wrap">
                                    {{ details?.email }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Date Of Joining <span>:</span></label
                                    >
                                </div>
                                <div class="ml-2 col-span-3 capitalize">
                                    {{
                                        details?.joiningDate
                                            | date : "dd MMM, yyyy"
                                    }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Trainee ID <span>:</span></label
                                    >
                                </div>
                                <div class="ml-2 col-span-3">
                                    {{ details?.traineeId }}
                                </div>
                            </div>

                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Course<span>:</span></label
                                    >
                                </div>
                                <div
                                    class="ml-2 col-span-3 word-wrap capitalize"
                                >
                                    {{ details?.course?.name }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Technology<span>:</span></label
                                    >
                                </div>
                                <div
                                    class="ml-2 col-span-3 word-wrap capitalize"
                                >
                                    <ng-container
                                        *ngFor="let e of details?.technology"
                                        >{{ e.name }}
                                    </ng-container>
                                </div>
                            </div>

                            <!-- <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Status<span>:</span></label
                                    >
                                </div>
                                <div class="ml-2 col-span-3">{{employeeData?.status}}</div>
                            </div> -->

                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Contact Number<span>:</span></label
                                    >
                                </div>
                                <div class="ml-2 col-span-3 word-wrap">
                                    {{ details?.mobileNumber }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-start justify-between"
                                        >Alternative Contact Number<span
                                            >:</span
                                        ></label
                                    >
                                </div>
                                <div class="ml-2 col-span-3 word-wrap">
                                    {{
                                        details?.alternativeNumber
                                            ? details?.alternativeNumber
                                            : "--"
                                    }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-start justify-between"
                                        >Address<span>:</span></label
                                    >
                                </div>
                                <div
                                    class="ml-2 col-span-3 word-wrap capitalize"
                                >
                                    {{ details?.address | titlecase }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Reference<span>:</span></label
                                    >
                                </div>
                                <div
                                    class="ml-2 col-span-3 word-wrap capitalize"
                                >
                                    {{
                                        (details?.referenceName | titlecase)
                                            ? (details?.referenceName
                                              | titlecase)
                                            : "--"
                                    }}
                                </div>
                            </div>
                            <div class="grid grid-cols-6 mb-2">
                                <div class="capitalize mb-1 col-span-3">
                                    <label
                                        class="font-semibold flex items-center justify-between"
                                        >Reference Number<span>:</span></label
                                    >
                                </div>
                                <div class="ml-2 col-span-3 word-wrap">
                                    {{
                                        details?.referenceNumber
                                            ? details?.referenceNumber
                                            : "--"
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded overflow-hidden"
                >
                    <div class="flex flex-col flex-auto">
                        <div
                            class="pt-5 px-5 pb-2 flex items-center justify-between"
                        >
                            <div
                                class="mb-3 text-lg font-semibold tracking-tight leading-7 md:leading-snug truncate"
                            >
                                Fee Details
                            </div>
                        </div>
                        <div class="overflow-x-auto w-full">
                            <table
                                class="w-full bg-transparent is-hoverable"
                                mat-table
                                matSort
                                [dataSource]="dataSource"
                                [trackBy]="trackByFn"
                                #clientsTable
                            >
                                <!-- paidThrough -->
                                <ng-container matColumnDef="paidThrough">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef
                                        class="whitespace-nowrap bg-light-primary px-4 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                                    >
                                        Paid Through
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction"
                                        class="whitespace-nowrap px-4 py-3 sm:px-5"
                                    >
                                        <span class="flex text-xs+ capitalize">
                                            {{ transaction?.paidThrough }}
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- paidDate -->
                                <ng-container matColumnDef="paidDate">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        class="whitespace-nowrap bg-light-primary px-4 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                                        *matHeaderCellDef
                                    >
                                        Paid Date
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction"
                                        class="whitespace-nowrap px-4 py-3 sm:px-5"
                                    >
                                        <span
                                            class="text-xs+ whitespace-nowrap"
                                        >
                                            {{
                                                transaction.paidDate
                                                    | date : "dd MMM, yyyy"
                                            }}
                                        </span>
                                    </td>
                                </ng-container>
                                <!-- paid -->
                                <ng-container matColumnDef="paid">
                                    <th
                                        mat-header-cell
                                        mat-sort-header
                                        *matHeaderCellDef
                                        class="whitespace-nowrap bg-light-primary px-4 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                                    >
                                        Paid
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction"
                                        class="whitespace-nowrap px-4 py-3 sm:px-5"
                                    >
                                        <span
                                            class="amounts badge bg-success/10 text-success-l dark:bg-success/15"
                                        >
                                            {{
                                                transaction.amountPaid
                                                    ? transaction.amountPaid
                                                    : "0"
                                            }}
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- actions -->
                                <ng-container matColumnDef="actions">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        class="whitespace-nowrap bg-light-primary px-4 py-3 font-medium text-xs+ capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                                    >
                                        Actions
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let transaction"
                                        align="center"
                                        class="whitespace-nowrap px-4 py-3 sm:px-5"
                                    >
                                        <div class="">
                                            <span
                                                class="cursor-pointer flex items-center cursor-pointer"
                                                (click)="print(transaction._id)"
                                            >
                                                <mat-icon
                                                    svgIcon="local_printshop"
                                                    class="icon-size-5"
                                                ></mat-icon>
                                            </span>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr
                                    mat-header-row
                                    *matHeaderRowDef="displayedColumns"
                                ></tr>
                                <tr
                                    mat-row
                                    *matRowDef="
                                        let row;
                                        columns: displayedColumns
                                    "
                                ></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td
                                        class="mat-cell whitespace-nowrap px-4 py-3 sm:px-5 text-xs+"
                                        align="center"
                                        [attr.colspan]="displayedColumns.length"
                                    >
                                        No data Found.
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
