.sign-in-full {
    height: 100vh !important;
}
.sign_btn {
    min-height: 43px;
}
.bg-light {
    background-color: #ddd !important;
}
::ng-deep body.light .mat-snack-bar-container,
body .light .mat-snack-bar-container {
    background: rgb(34 197 94) !important;
    color: #fff !important;
}
::ng-deep body.light .mat-snack-bar-container .mat-button {
    color: #fff !important;
}

::ng-deep body.light .mat-snack-bar-container.alert-red {
    background: rgb(239 68 68) !important;
    color: #fff !important;
}
