.status_nte {
    .header_sec {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;
        img {
            width: 35px;
        }
    }
    .title {
        // border-top-left-radius: 8px;
        // border-top-right-radius: 8px;
        position: relative;
    }
    // .cnt_sec {
    //     border-top: 0px !important;
    //     border: 1px solid rgba(var(--fuse-border-rgb), var(--tw-border-opacity));
    //     border-radius: 0.5rem !important;
    //     border-top-left-radius: 0px !important;
    //     border-top-right-radius: 0px !important;
    // }
    .cmn_grd {
        position: relative;
        box-sizing: content-box;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -33px;
            width: 107px;
            height: 32px;
            margin: 0px auto;
            right: 0px;
            border-bottom: 13px solid #fff;
        }
    }
    .prs_step_1 {
        .header_sec {
            background-color: #4f46e5 !important;
        }
        &::after {
            border-left: 55px solid rgba(79, 70, 229, 0.7);
            border-right: 55px solid #4f46e5;
        }
    }
    .prs_step_2 {
        .header_sec {
            background-color: #7f39ad !important;
        }
        &::after {
            border-left: 55px solid rgba(127, 57, 173, 0.7);
            border-right: 55px solid #7f39ad;
        }
    }
    .prs_step_3 {
        .header_sec {
            background-color: #ff3754 !important;
        }
        &::after {
            border-left: 55px solid rgba(255, 55, 84, 0.7);
            border-right: 55px solid #ff3754;
        }
    }
    .prs_step_4 {
        .header_sec {
            background-color: rgb(34, 197, 94) !important;
        }
        &::after {
            border-left: 55px solid rgba(34, 197, 94, 0.7);
            border-right: 55px solid rgb(34, 197, 94);
        }
    }
}
.cmn_status_l {
    padding: 0px 15px 15px 15px;
    border-radius: 20px;
}
