<div class="flex flex-col flex-auto min-w-0 requirements">
    <!-- Header -->
    <div
        class="flex flex-wrap width_set_leads max-w-screen-xl mx-auto p-6 md:p-8"
    >
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="flex flex-col col-span-2">
                <div class="flex items-center justify-end mb-5 mt-3">
                    <button
                        class="max-w-30 mat-focus-indicator rounded-2 mat-flat-button mat-button-base primary_btn text-white"
                        mat-flat-button
                        (click)="downloadAsPDF()"
                    >
                        <mat-icon
                            svgIcon="mat_solid:picture_as_pdf"
                            class="icon-size-5 mr-2 text-white"
                        ></mat-icon>
                        Download
                    </button>
                </div>
                <div class="bg-card mb-5 shadow rounded-lg py-1">
                    <div class="flex flex-col create-form">
                        <div class="px-5 pt-5">
                            <div
                                class="mb-3 text-md font-bold client_bg text-white px-3 py-2"
                            >
                                Client Information :
                            </div>
                            <div
                                class="px-3 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5 mb-2"
                                    >
                                        <div class="label_ex">Client Name</div>
                                        <div class="">
                                            <p
                                                class="font-medium mb-0 capitalize flex"
                                            >
                                                <span class="mr-2">:</span>
                                                {{ details?.clientName }}
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                        class="mb-2 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                                    >
                                        <div class="label_ex">Phone Number</div>
                                        <div class="">
                                            <p class="font-medium mb-0">
                                                <span class="mr-2">:</span>
                                                {{
                                                    details?.phoneNumber
                                                        ? details?.phoneNumber
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                                    >
                                        <div class="label_ex">Country</div>
                                        <div class="">
                                            <p class="font-medium mb-0 flex">
                                                <span class="mr-2">:</span>
                                                {{
                                                    details?.country?.name
                                                        ? details?.country.name
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-5 mb-2"
                                    >
                                        <div class="label_ex">Email Id</div>
                                        <div class="md:col-span-3">
                                            <p
                                                class="font-medium mb-0 word-wrap flex"
                                            >
                                                <span class="mr-2">:</span>
                                                {{
                                                    details?.mail
                                                        ? details?.mail
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-5"
                                    >
                                        <div class="label_ex">Address</div>
                                        <div class="md:col-span-3">
                                            <p class="font-medium mb-0 flex">
                                                <span class="mr-2">:</span>
                                                {{
                                                    details?.address
                                                        ? details?.address
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="requirementDetails" class="px-5 pt-5">
                            <div
                                class="mb-2 text-md font-bold wesite_bg text-white px-3 pt-0 pb-3"
                            >
                                Leads Details :
                            </div>

                            <div
                                class="px-3 cmn_brd grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex">
                                    <span class="mr-3">1.</span>Project Name
                                </div>
                                <div class="font-medium mb-1 word-wrap flex">
                                    <span class="mr-2">:</span>

                                    {{ details?.projectName }}
                                </div>
                            </div>
                            <div
                                class="px-3 cmn_brd grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex">
                                    <span class="mr-3">2.</span>Project Url
                                </div>
                                <div class="font-medium mb-1 word-wrap flex">
                                    <span class="mr-2">:</span>

                                    <a
                                        href="{{ details?.projectUrl }}"
                                        target="_blank"
                                    >
                                        {{
                                            details?.projectUrl
                                                ? details?.projectUrl
                                                : "--"
                                        }}</a
                                    >
                                </div>
                            </div>
                            <div
                                class="px-3 cmn_brd grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex">
                                    <span class="mr-3">3.</span>Lead Through
                                </div>
                                <div class="font-medium mb-1 word-wrap flex">
                                    <span class="mr-2">:</span>

                                    {{
                                        details?.leadThrough?.name
                                            ? details?.leadThrough.name
                                            : "--"
                                    }}
                                </div>
                            </div>
                            <div
                                class="px-3 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex">
                                    <span class="mr-3">4.</span>Status
                                </div>
                                <div class="font-medium mb-1 word-wrap flex">
                                    <span class="mr-2">:</span>
                                    <span
                                        *ngIf="
                                            details?.prospect == true &&
                                            !details?.lead == true
                                        "
                                        class="mt-2 bg-primary/10 text-primary_l cmn_status_l"
                                    >
                                        Prospect
                                    </span>

                                    <span
                                        *ngIf="
                                            details?.prospect == true &&
                                            details?.lead == true &&
                                            !details?.opportunity == true
                                        "
                                        class="mt-2 text-violet cmn_status_l"
                                    >
                                        Lead
                                    </span>
                                    <span
                                        *ngIf="
                                            details?.prospect == true &&
                                            details?.lead == true &&
                                            details?.opportunity == true &&
                                            !details?.close == true
                                        "
                                        class="mt-2 bg-warning/10 text-warning dark:bg-warning/15 cmn_status_l"
                                    >
                                        Opportunity
                                    </span>
                                    <span
                                        *ngIf="
                                            details?.prospect == true &&
                                            details?.lead == true &&
                                            details?.opportunity == true &&
                                            details?.close == true
                                        "
                                        class="mt-2 bg-success/10 text-success-l dark:bg-success/15 cmn_status_l"
                                    >
                                        Close
                                    </span>
                                    <span
                                        *ngIf="
                                            details?.opportunity != true &&
                                            details?.lead != true &&
                                            details?.close != true &&
                                            details?.prospect != true
                                        "
                                        >--</span
                                    >
                                    <!-- {{ details?.status ? details?.status : "--" }} -->
                                </div>
                            </div>
                            <div
                                class="status_nte relative pt-14 pb-10 px-3 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8"
                            >
                                <div
                                    *ngIf="details?.prospect == true"
                                    class="prs_step_1 border rounded-xl bg-card cmn_grd"
                                >
                                    <div
                                        class="header_sec p-3 flex justify-between items-center"
                                    >
                                        <div
                                            class="title text-lg mb-0 font-bold text-white"
                                        >
                                            Prospect
                                        </div>

                                        <div class="img_sec">
                                            <img
                                                src="../../../../../assets/images/employees/prospect-white.png"
                                                alt="prospect"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="cnt_sec pt-2 px-3 pb-4 text-center"
                                    >
                                        <ng-container
                                            *ngFor="let address of prospectNote"
                                        >
                                            <span class="text-center word-wrap">
                                                {{ address }}<br
                                            /></span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div
                                    *ngIf="details?.lead == true"
                                    class="prs_step_2 border rounded-xl bg-card cmn_grd"
                                >
                                    <div
                                        class="header_sec p-3 flex justify-between items-center"
                                    >
                                        <div
                                            class="title mb-0 font-bold text-white text-lg"
                                        >
                                            Lead
                                        </div>

                                        <div class="img_sec">
                                            <img
                                                src="../../../../../assets/images/employees/lead-white.png"
                                                alt="lead"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="cnt_sec pt-2 px-3 pb-4 text-center"
                                    >
                                        <ng-container
                                            *ngFor="let address of leadNote"
                                        >
                                            <span class="text-center word-wrap">
                                                {{ address }}<br
                                            /></span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div
                                    *ngIf="details?.opportunity == true"
                                    class="prs_step_3 border rounded-xl bg-card cmn_grd"
                                >
                                    <div
                                        class="header_sec p-3 flex justify-between items-center"
                                    >
                                        <div
                                            class="title mb-0 font-bold text-white text-lg"
                                        >
                                            Opportunity
                                        </div>

                                        <div class="img_sec">
                                            <img
                                                src="../../../../../assets/images/employees/opportunity-white.png"
                                                alt="opportunity"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="cnt_sec pt-2 px-3 pb-4 text-center"
                                    >
                                        <ng-container
                                            *ngFor="
                                                let address of opportunityNote
                                            "
                                        >
                                            <span class="text-center word-wrap">
                                                {{ address }}<br
                                            /></span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div
                                    *ngIf="details?.close == true"
                                    class="prs_step_4 border rounded-xl bg-card cmn_grd"
                                >
                                    <div
                                        class="header_sec p-3 flex justify-between items-center"
                                    >
                                        <div
                                            class="title mb-0 font-bold text-white text-lg"
                                        >
                                            Close
                                        </div>

                                        <div class="img_sec">
                                            <img
                                                src="../../../../../assets/images/employees/close-1.png"
                                                alt="close"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="cnt_sec pt-2 px-3 pb-4q text-center"
                                    >
                                        <ng-container
                                            *ngFor="let address of closeNote"
                                        >
                                            <span class="text-center word-wrap">
                                                {{ address }}<br
                                            /></span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                            <!-- status note Design -->
                            <!-- <div
                            class="status_nte py-12 relative px-3 grid grid-cols-4 sm:grid-cols-4 md:grid-cols-4 gap-0"
                        >
                            <div class="step_1 relative mb-5 text-center">
                                <div
                                    class="title text-2xl mb-3 font-bold text-center"
                                >
                                    Prospect
                                </div>
                                <div
                                    class="title_sec flex items-center justify-center relative"
                                >
                                    <div class="img_sec">
                                        <img
                                            src="../../../../../assets/images/employees/prospect.png"
                                            alt="prospect"
                                        />
                                    </div>
                                    <span class="bottom_arrw"></span>
                                </div>
                                <div class="round relative"></div>
                                <div class="line_prs"></div>
                                <div class="note_sec">
                                    <span class="text-center">{{
                                        details?.prospectNote
                                            ? details?.prospectNote
                                            : "--"
                                    }}</span>
                                </div>
                            </div>
                            <div class="step_2 relative mb-5 text-center">
                                <div class="note_sec">
                                    <span class="text-center">{{
                                        details?.leadNote
                                            ? details?.leadNote
                                            : "--"
                                    }}</span>
                                </div>
                                <div class="line_prs"></div>
                                <div class="round relative"></div>
                                <div
                                    class="title_sec flex items-center justify-center relative"
                                >
                                    <div class="img_sec">
                                        <img
                                            src="../../../../../assets/images/employees/lead.png"
                                            alt="lead"
                                        />
                                    </div>
                                    <span class="bottom_arrw"></span>
                                </div>
                                <div
                                    class="title text-2xl mt-3 font-bold text-center"
                                >
                                    Lead
                                </div>
                            </div>
                            <div
                                class="step_3 step_1 relative mb-5 text-center"
                            >
                                <div
                                    class="title text-2xl mb-3 font-bold text-center"
                                >
                                    Opportunity
                                </div>
                                <div
                                    class="title_sec flex items-center justify-center relative"
                                >
                                    <div class="img_sec">
                                        <img
                                            src="../../../../../assets/images/employees/opportunity.png"
                                            alt="opportunity"
                                        />
                                    </div>
                                    <span class="bottom_arrw"></span>
                                </div>
                                <div class="round relative"></div>
                                <div class="note_sec">
                                    <span class="text-center">{{
                                        details?.opportunityNote
                                            ? details?.opportunityNote
                                            : "--"
                                    }}</span>
                                </div>
                                <div class="line_prs"></div>
                            </div>
                            <div
                                class="step_2 step_4 relative mb-5 text-center"
                            >
                                <div class="note_sec">
                                    <span class="text-center">{{
                                        details?.closeNote
                                            ? details?.closeNote
                                            : "--"
                                    }}</span>
                                </div>
                                <div class="line_prs"></div>
                                <div class="round relative"></div>
                                <div
                                    class="title_sec flex items-center justify-center relative"
                                >
                                    <div class="img_sec">
                                        <img
                                            src="../../../../../assets/images/employees/close-2.png"
                                            alt="close"
                                        />
                                    </div>
                                    <span class="bottom_arrw"></span>
                                </div>
                                <div
                                    class="title text-2xl mt-3 font-bold text-center"
                                >
                                    Close
                                </div>
                            </div>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
