<div class="flex flex-col flex-auto min-w-0 requirements">
    <!-- Header -->
    <div class="flex flex-wrap width_set max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="flex flex-col col-span-2">
                <div class="flex items-center justify-end mb-5 mt-3">
                    <button
                        class="max-w-30 mat-focus-indicator rounded-2 mat-flat-button mat-button-base primary_btn text-white"
                        mat-flat-button
                        (click)="downloadAsPDF()"
                    >
                        <mat-icon
                            svgIcon="mat_solid:picture_as_pdf"
                            class="icon-size-5 mr-2 text-white"
                        ></mat-icon>
                        Download
                    </button>
                </div>
                <div class="bg-card mb-5 shadow rounded-lg py-1">
                    <div class="flex flex-col create-form">
                        <div class="px-5 pt-5">
                            <div
                                class="mb-3 text-md font-bold client_bg text-white px-3 py-2"
                            >
                                Client Information :
                            </div>
                            <div
                                class="px-3 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5 mb-2"
                                    >
                                        <div class="label_ex">Client Name</div>
                                        <div class="">
                                            <p
                                                class="font-medium mb-0 capitalize flex"
                                            >
                                                <span class="mr-2">:</span>
                                                {{ details?.clientName }}
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                                    >
                                        <div class="label_ex">Phone Number</div>
                                        <div class="">
                                            <p class="font-medium mb-0">
                                                <span class="mr-2">:</span>
                                                {{
                                                    details?.phoneNumber
                                                        ? details?.phoneNumber
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-5 mb-2"
                                    >
                                        <div class="label_ex">Email Id</div>
                                        <div class="md:col-span-3">
                                            <p
                                                class="font-medium mb-0 word-wrap flex"
                                            >
                                                <span class="mr-2">:</span>
                                                {{
                                                    details?.mail
                                                        ? details?.mail
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-5"
                                    >
                                        <div class="label_ex">Address</div>
                                        <div class="md:col-span-3">
                                            <p class="font-medium mb-0 flex">
                                                <span class="mr-2">:</span>
                                                {{
                                                    details?.address
                                                        ? details?.address
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="requirementDetails" class="px-5 py-5">
                            <div
                                class="mb-2 text-md font-bold wesite_bg text-white px-3 pt-0 pb-3"
                            >
                                Website Details :
                            </div>
                            <div
                                class="px-3 cmn_brd grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex">
                                    <span class="mr-3">1.</span>What is your
                                    website URL?
                                </div>
                                <div class="font-medium mb-1 word-wrap flex">
                                    <span class="mr-2">:</span>
                                    <a
                                        href="{{ details?.websiteUrl }}"
                                        target="_blank"
                                    >
                                        {{ details?.websiteUrl }}</a
                                    >
                                </div>
                            </div>
                            <div
                                class="px-3 cmn_brd grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex flex">
                                    <span class="mr-3">2.</span
                                    ><span
                                        >An email marketing platform logins like
                                        MailChimp/mail post/MailBluster.</span
                                    >
                                </div>
                                <div class="mb-1 mt-2 flex">
                                    <span class="mr-2">:</span>
                                    <div class="w-full cmn_table">
                                        <div
                                            class="trs grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3"
                                        >
                                            <p
                                                class="label_ex mb-0 font-semibold"
                                            >
                                                Platform
                                            </p>
                                            <p
                                                class="label_ex mb-0 font-semibold"
                                            >
                                                User Name
                                            </p>
                                            <p
                                                class="label_ex mb-0 font-semibold"
                                            >
                                                Password
                                            </p>
                                        </div>
                                        <div
                                            class="trs grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-2"
                                            *ngFor="
                                                let data of details?.platformLogins
                                            "
                                        >
                                            <div class="w-full">
                                                <p class="font-medium mb-0">
                                                    {{
                                                        data.platformName
                                                            ? data.platformName
                                                            : "--"
                                                    }}
                                                </p>
                                            </div>
                                            <div class="w-full">
                                                <p class="font-medium mb-0">
                                                    {{
                                                        data?.userName
                                                            ? data?.userName
                                                            : "--"
                                                    }}
                                                </p>
                                            </div>
                                            <div class="w-full">
                                                <p class="font-medium mb-0">
                                                    {{
                                                        data?.password
                                                            ? data?.password
                                                            : "--"
                                                    }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="px-3 cmn_brd grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex flex">
                                    <span class="mr-3">3.</span
                                    ><span>Need Client Gmail Logins</span>
                                </div>
                                <div class="mb-1 flex">
                                    <span class="mr-2">:</span>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-3 w-full"
                                    >
                                        <div class="w-full">
                                            <p class="label_ex mb-0 font-bold">
                                                User Name
                                            </p>
                                            <p class="font-medium word-wrap">
                                                {{
                                                    details?.gmailUserName
                                                        ? details?.gmailUserName
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                        <div class="w-full">
                                            <p class="label_ex mb-0 font-bold">
                                                Password
                                            </p>
                                            <p
                                                class="font-medium mb-0 word-wrap"
                                            >
                                                {{
                                                    details?.gmailPassword
                                                        ? details?.gmailPassword
                                                        : "--"
                                                }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="px-3 cmn_brd grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex">
                                    <span class="mr-3">4.</span>Audience list in
                                    Email marketing Platform
                                </div>
                                <div class="font-medium mb-1 word-wrap flex">
                                    <span class="mr-2">:</span>

                                    {{
                                        details?.audienceList
                                            ? details?.audienceList
                                            : "--"
                                    }}
                                </div>
                            </div>

                            <div
                                class="px-3 mt-1 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-5"
                            >
                                <div class="label_ex flex">
                                    <span class="mr-3">5.</span
                                    ><span>Competitors list</span>
                                </div>
                                <div class="font-medium mb-1 flex">
                                    <span class="mr-2">:</span>
                                    <div>
                                        <ng-container
                                            *ngFor="
                                                let e of details?.competitorsList
                                            "
                                        >
                                            <p class="mb-0 word-wrap">
                                                <a
                                                    href="{{ e?.competitors }}"
                                                    target="_blank"
                                                >
                                                    {{ e.competitors }}</a
                                                >
                                            </p>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                details?.competitors?.length ==
                                                0
                                            "
                                            >--</ng-container
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
