<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 w-full min-w-0"
            >
                <div
                    class="flex flex-col flex-auto px-4 py-6 bg-light-primary rounded-lg overflow-hidden mb-5"
                >
                    <div class="flex items-center justify-between">
                        <div
                            class="text-2xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                        >
                            Trainees
                        </div>
                        <div
                            class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3"
                        >
                            <button
                                class="px-3 mat-focus-indicator mat-flat-button mat-button-base primary_btn text-white"
                                mat-flat-button
                                (click)="addTrainee()"
                            >
                                <mat-icon
                                    svgIcon="add"
                                    class="icon-size-5 text-white"
                                ></mat-icon>
                                <span class="ml-1">Add Trainee</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="bg-card mb-5 shadow rounded py-2 pt-4 tabs-setting bg_block relative"
            >
                <div class="search p-4 flex items-center justify-end">
                    <div class="flex">
                        <mat-form-field
                            appearance="fill"
                            class="w-full fuse-mat-dense fuse-mat-rounded ml-3"
                        >
                            <mat-select
                                placeholder="Month"
                                [(ngModel)]="monthnumber"
                                (selectionChange)="getMonthValue($event.value)"
                            >
                                <mat-option
                                    *ngFor="let option of months"
                                    [value]="option.val"
                                >
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field
                            appearance="fill"
                            class="w-full fuse-mat-dense ml-3 fuse-mat-rounded"
                        >
                            <mat-select
                                placeholder="Year"
                                [(ngModel)]="yearNumber"
                                (selectionChange)="selectedYear($event.value)"
                            >
                                <mat-option
                                    *ngFor="let option of years"
                                    [value]="option"
                                >
                                    {{ option }}
                                </mat-option>
                            </mat-select></mat-form-field
                        >
                        <button
                            *ngIf="clearShow"
                            class="mt-1 flex flex-0 items-center justify-center w-8 h-8 ml-3 rounded-full text-warn-600 bg-warn-100 dark:text-warn-50 dark:bg-warn-600 ng-star-inserted"
                            (click)="clear()"
                            matTooltip="Clear"
                            aria-label="Button that displays a tooltip when focused or hovered over"
                        >
                            <mat-icon
                                svgIcon="mat_outline:clear"
                                class="text-red icon-size-2"
                            ></mat-icon>
                        </button>
                    </div>
                </div>
                <mat-tab-group
                    class="tab-group"
                    [animationDuration]="'0'"
                    (selectedTabChange)="tabClick($event)"
                >
                    <!-- on-Going -->
                    <mat-tab label="on-Going">
                        <ng-template mat-tab-label>
                            <button
                                class="btn h-8 rounded-full text-xs+ font-medium"
                            >
                                On-Going
                                <span
                                    class="count-label inline-flex items-center font-bold px-2 py-0.5 rounded-full tracking-wide"
                                >
                                    {{
                                        counts?.onGoing ? counts?.onGoing : 0
                                    }}</span
                                >
                            </button>
                        </ng-template>
                        <ng-container *ngIf="tabName == 'on-Going'">
                            <app-ongoing
                                [allList]="allList"
                                [filterData]="filterData"
                                [tabName]="tabName"
                                [monthnumber]="monthnumber"
                                [yearNumber]="yearNumber"
                            ></app-ongoing
                        ></ng-container>
                    </mat-tab>
                    <!-- completed -->
                    <mat-tab label="Completed">
                        <ng-template mat-tab-label>
                            <button
                                class="btn h-8 rounded-full text-xs+ font-medium"
                            >
                                Completed
                                <span
                                    class="count-label inline-flex items-center font-bold px-2 py-0.5 rounded-full tracking-wide"
                                >
                                    {{
                                        counts?.completed
                                            ? counts?.completed
                                            : 0
                                    }}</span
                                >
                            </button>
                        </ng-template>
                        <ng-container *ngIf="tabName == 'Completed'">
                            <app-completed
                                [filterDataComp]="filterDataComp"
                                [tabName]="tabName"
                                [monthnumber]="monthnumber"
                                [yearNumber]="yearNumber"
                            ></app-completed
                        ></ng-container>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
