.label_ex {
    font: 400 0.875rem / 1.2857142857 "Inter var", ui-sans-serif, system-ui,
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(
        var(--fuse-text-default-rgb),
        var(--tw-text-opacity)
    ) !important;
}
.bg-light {
    background-color: #ddd !important;
}
::ng-deep body.light .mat-snack-bar-container,
body .light .mat-snack-bar-container {
    background: rgb(34 197 94);
    color: #fff !important;
}
::ng-deep body.light .mat-snack-bar-container .mat-button {
    color: #fff;
}

::ng-deep body.light .mat-snack-bar-container.alert-red {
    background: rgb(239 68 68);
    color: #fff !important;
}
::ng-deep
    .mat-form-field.mat-form-field-appearance-fill
    .mat-form-field-wrapper
    .mat-form-field-flex
    .mat-form-field-infix
    .mat-form-field-label-wrapper {
    label {
        display: flex !important;
    }
}
.not_label_g {
    width: 20px;
}
.requirements-form ::ng-deep {
    .mat-form-field.mat-form-field-appearance-fill.fuse-mat-dense
        .mat-form-field-wrapper {
        margin-bottom: 10px !important;
        .mat-form-field-flex {
            min-height: 30px !important;
            height: 35px;
        }
    }
    .textara_field.mat-form-field.mat-form-field-appearance-fill.fuse-mat-dense
        .mat-form-field-wrapper
        .mat-form-field-flex {
        // min-height: 30px !important;

        height: 100px;
        textarea {
            padding: 0px;
        }
    }
    .mat-checkbox .mat-checkbox-layout {
        .mat-checkbox-inner-container {
            width: 14px;
            height: 14px;
        }
    }
}
