.tabs-setting ::ng-deep {
    .mat-tab-header {
        position: inherit !important;
    }
    .mat-tab-labels {
        border-bottom: 1px solid #e2e8f0 !important;
        justify-content: start !important;
        padding-left: 15px;
    }
    .mat-tab-group
        .mat-tab-header
        .mat-tab-label-container
        .mat-tab-list
        .mat-tab-labels
        .mat-tab-label.mat-tab-label-active {
        background-color: rgba(99, 94, 197, 0.1) !important;
        button {
            color: #4f46e5 !important;
        }
    }
}
::ng-deep .tab-group.mat-tab-group .mat-tab-body-content {
    padding: 1px !important;
}

::ng-deep .tab-group.mat-tab-group .mat-tab-header .mat-tab-label-container {
    padding: 0px 0px 0px 0px;
}

::ng-deep .payments {
    .mat-tab-header {
        //margin-bottom: 20px;
        position: absolute;
        top: 13px;
        z-index: 999;
        right: 10px;
        width: auto;
        border-bottom: 0px !important;
        .mat-tab-label-container {
            // box-shadow: inset 0 -1px var(--fuse-border);
            .mat-tab-list .mat-tab-labels {
                //  justify-content: center;
                .mat-tab-label {
                    padding: 0px !important;
                    height: auto !important;
                    .count-label {
                        background: rgba(
                            var(--fuse-text-secondary-rgb),
                            var(--tw-text-opacity)
                        );
                        display: flex;
                        border-radius: 100%;
                        color: #fff;
                        font-size: 11px;
                        align-items: center;
                        justify-content: center;
                        margin-left: 5px;
                    }
                    .mat-tab-label-content {
                        button {
                            align-items: center;
                            border-radius: 0.5rem;
                            cursor: pointer;
                            display: inline-flex;
                            justify-content: center;
                            letter-spacing: 0.025em;
                            padding: 0.5rem 1.25rem;
                            text-align: center;
                            transition-duration: 0.2s;
                            transition-property: all;
                            transition-timing-function: cubic-bezier(
                                0.4,
                                0,
                                0.2,
                                1
                            );
                        }
                    }
                    &.mat-tab-label-active {
                        background-color: #4f46e5 !important;

                        button {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }
}
.payments {
    .search {
        position: absolute;
        right: 0px;
        top: 13px !important;
        z-index: 9999;
    }
}

.width-7 {
    width: 70%;
}
