.update_tsk ::ng-deep {
    .mat-form-field.mat-form-field-appearance-fill.fuse-mat-dense
        .mat-form-field-wrapper {
        margin-bottom: 10px !important;
        .mat-form-field-flex {
            min-height: 30px !important;
            height: 35px;
        }
    }
    .task_text {
        .mat-form-field.mat-form-field-appearance-fill.fuse-mat-dense
            .mat-form-field-wrapper {
            margin-bottom: 10px !important;
        }
        .mat-form-field.mat-form-field-appearance-fill
            .mat-form-field-wrapper
            .mat-form-field-flex
            .mat-form-field-infix
            textarea.mat-input-element {
            min-height: 49px !important;
        }
    }
}
.ng_select_emp1 {
    .label_ex {
        font-size: 13px !important;
        margin-bottom: 3px !important;
    }
    .mt-label {
        margin-top: 1px !important;
    }
}
.bg-light {
    background-color: #ddd !important;
}
::ng-deep body.light .mat-snack-bar-container,
body .light .mat-snack-bar-container {
    background: rgb(34 197 94);
    color: #fff !important;
}
::ng-deep body.light .mat-snack-bar-container .mat-button {
    color: #fff;
}

::ng-deep body.light .mat-snack-bar-container.alert-red {
    background: rgb(239 68 68);
    color: #fff !important;
}
